label{
   color: rgb(18, 15, 15);
font-style: normal;
font-weight: 500;
}
*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    border-radius: 5px;
  width: 50%;
 padding: 10px 20px;
}
.fpassword{
    text-align: right;
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 500;
    border: none;
    font-size: 14px;
   background-color:white ;
}
.btn{
    background-color: #072645;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin-top: 20px; 
    
}
.google-btn{
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 50%;
    margin-top: 20px;
    background-color: white; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s;
}
    
alt{
color: #4285F4;
}
